@page "/MyGrowthEntries/single/{checkinId:int}"
@using Core.Models
@using DanskeLearning.Services.MyGrowthService
@inject IMyGrowthService MGHttp

<h3>MyGrowth Entry</h3>

@if (entries == null || entries.Count == 0)
{
    <p>Check-in not available.</p>
}
else
{
    @foreach (var c in entries)
    {
        <div class="checkin-card">
            <h4>@c.answerDate.ToShortDateString()</h4>

            <p><strong>Faglig udfordring:</strong> @c.FagligUdfordring</p>
            <p><strong>Ny kompetence:</strong> @c.NyKompetence</p>
            <p><strong>Motivation:</strong> @c.Motivation</p>
            <p><strong>Trivsel:</strong> @c.Trivsel</p>
            <p><strong>Øvrige refleksioner:</strong> @c.answerText</p>
        </div>
    }
}

@code {
    [Parameter] public int checkinId { get; set; }

    private List<MyGrowth>? entries;

    protected override async Task OnInitializedAsync()
    {
        entries = await MGHttp.GetEntryByIdAsync(checkinId);
    }
}